/* 1220 */
@media (max-width: 1220px) {
    .header_fill {
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 20px;
        top: 0;
        background-color: var(--color_beige);
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 0 30px;
    }

    .home {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 120px;
        max-width: 1200px;
        height: auto;
        gap: 0px;
    }

    .home__text {
        text-align: center;
        max-width: 800px;
        margin-top: 40px;
        margin-bottom: 0;
        padding: 0 30px;
    }

    .home__text_one {
        line-height: 60px;
    }

    .home__photos_MAIN {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        margin-top: 40px;
        margin-bottom: 80px;
    }

    .home__photos {
        left: 50px;
    }

    .home__photo_small {
        position: absolute;
        max-width: 200px;
        top: 15%;
        left: -30%;
    }

    .home__photo_big {
        max-width: 300px;
    }

    #about {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        margin-top: 80px;
        margin-bottom: 80px;
        gap: 0;
    }

    .about__info {
        max-width: 800px;
        margin-top: 80px;
        padding: 0px 30px;
    }

    .about__photos {
        max-width: 800px;
    }

    .about__photo_small {
        max-width: 200px;
        position: absolute;
        bottom: -7%;
        right: -10%;
        border: 10px solid var(--color_beige);
    }

    .about__photo_big {
        max-width: 350px;
        border: 1px solid var(--color_brown);
        padding: 20px;
    }

    #catalog {
        max-width: 800px;
    }

    .catalog__photos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        place-items: center;
    }

    .catalog__photo {
        display: grid;
    }

    .advantages__MAIN {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 25px;
        place-items: center;
        padding: 0 30px;
    }

    #contacts {
        max-width: 800px;
        margin: 0 auto;
    }

    .contacts__MAIN {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
        place-items: center;
        padding: 0 30px;
    }

    .contacts__block {
        display: block;
    }

    footer {
        margin-top: 40px;
        padding: 10px 30px;
    }
}

/* 900 */
@media (max-width: 900px) {
    .navbar__burger {
        display: flex;
        align-items: center;
    }

    .navbar__lang-eng {
        margin-left: 20px;
    }

    .navbar__ul {
        display: none;
    }

    #catalog {
        max-width: 480px;
        margin: 0 auto;
    }

    .catalog__photos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        margin-bottom: 80px;
    }

    .advantages__MAIN {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
        place-items: center;
        padding: 0 30px;
    }

    #contacts {
        margin: 0 auto;
    }

    .contacts__MAIN {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        place-items: center;
        padding: 0 30px;
    }

    .contacts__block {
        width: 220px;
        display: block;
    }

    .footer__MAIN {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

/* 576 */
@media (max-width: 900px) {
    .home__text {
        margin-top: 20px;
    }

    .home__text_one {
        font-size: 60px;
        line-height: 60px;
    }

    .home__photos_MAIN {
        /* max-width: 50px; */
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        margin-top: 40px;
        margin-bottom: 80px;
    }

    .home__photos {
        left: 45px;
    }

    .home__photo_small {
        position: absolute;
        max-width: 100px;
        top: 15%;
        left: -30%;
    }

    .home__photo_big {
        max-width: 220px;
    }

    .about__photo_small {
        max-width: 180px;
        position: absolute;
        bottom: -1%;
        right: -10%;
        border: 10px solid var(--color_beige);
    }

    .about__photo_big {
        max-width: 280px;
        border: 1px solid var(--color_brown);
        padding: 20px;
    }

    .catalog__photos {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        margin-bottom: 80px;
    }

    .advantages__MAIN {
        display: grid;
        grid-template-columns: 1fr;
        gap: 25px;
        place-items: center;
        padding: 0 30px;
    }

    .contacts__MAIN {
        grid-gap: 10px;
    }

    .footer__MAIN {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .footer__text {
        font-size: 12px;
    }

    .footer__uu {
        font-size: 12px;
    }
}
