@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --color_white: #ffffff;
    --color_black: #000000;
    --color_brown: #b06045;
    --color_brown_hover: #902423;
    --color_beige: #f5f1ea;
    --font_size_1: 16px;
    --font_size_2: 20px;
    --font_size_3: 32px;
    --font_regular: 400;
    --font_medium: 500;
    --font_semibold: 600;
    --font_bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 86px;
}

body {
    background-color: #f5f1ea;
    position: relative;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}
button {
    border: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    left: 0;
    right: 0;
    width: 100%;
    font-size: var(--font_size_3);
    font-weight: var(--font_semibold);
    color: var(--color_brown);
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid var(--color_brown);
    border-bottom: 1px solid var(--color_brown);
    background-color: var(--color_beige);
    margin-bottom: 40px;
}

.glitter {
    max-width: 25px;
}

.header_fill {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 20px;
    background-color: var(--color_beige);
}

header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 10px 0;
    border-top: 1px solid var(--color_brown);
    border-bottom: 1px solid var(--color_brown);
    background-color: var(--color_beige);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar__logo {
    width: 140px;
    fill: var(--color_brown);
    transition: fill 0.2s ease;
}

.navbar__logo:hover {
    fill: var(--color_brown_hover);
}

.navbar__ul {
    display: flex;
    gap: 40px;
    align-items: center;
}

.navbar__li {
    cursor: pointer;
    font-size: var(--font_size_2);
    font-weight: var(--font_semibold);
    color: var(--color_brown);
    transition: color 0.2s ease;
}

.navbar__li:hover {
    color: var(--color_brown_hover);
}

.navbar__li_burger {
    display: none;
    cursor: pointer;
    font-size: var(--font_size_2);
    font-weight: var(--font_semibold);
    color: var(--color_brown);
    transition: color 0.2s ease;
}

.navbar__burger {
    display: none;
}

.navbar__lang {
    display: flex;
}

.navbar__lang-eng {
    border-top: 1px solid var(--color_brown);
    border-bottom: 1px solid var(--color_brown);
    border-left: 1px solid var(--color_brown);
    border-right: 1px solid var(--color_brown);
    padding: 7px;
    font-size: var(--font_size_1);
    font-weight: var(--font_semibold);
}

.navbar__lang-rus {
    border-top: 1px solid var(--color_brown);
    border-bottom: 1px solid var(--color_brown);
    border-right: 1px solid var(--color_brown);
    padding: 7px;
    font-size: var(--font_size_1);
    font-weight: var(--font_semibold);
}

/* HOME */
.home {
    max-width: 1200px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin: 0 auto;
    padding: 0 40px;
}

.home__text {
    max-width: 450px;
    margin-top: auto;
    margin-bottom: auto;
}

.home__text_one {
    font-size: 60px;
    font-weight: var(--font_semibold);
    color: var(--color_brown);
    line-height: 60px;
}

.home__text_two {
    margin-top: 30px;
    font-size: var(--font_size_2);
    font-weight: var(--font_medium);
    line-height: 30px;
    color: var(--color_brown);
}

.home__button {
    margin-top: 30px;
    padding: 10px 40px;
    font-size: var(--font_size_2);
    font-weight: var(--font_medium);
    background-color: var(--color_beige);
    cursor: pointer;
    border: 1px solid var(--color_brown);
    color: var(--color_brown);
    transition: border, color 0.2s ease;
}

.home__button:hover {
    border: 1px solid var(--color_brown_hover);
    color: var(--color_brown_hover);
}

.home__photos_MAIN {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
}

.home__photos {
    display: flex;
    position: relative;
}

.home__photo_big {
    max-width: 350px;
}

.home__photo_small {
    position: absolute;
    max-width: 200px;
    top: 15%;
    left: -40%;
    border: 10px solid var(--color_beige);
}

.anim_circle {
    position: absolute;
    width: 150px;
    left: -53%;
    bottom: 7%;
}

/* ABOUT US */
#about {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
    gap: 120px;
}

.about__title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.about__info {
    font-size: var(--font_size_2);
    font-weight: var(--font_medium);
    line-height: 30px;
    color: var(--color_brown);
}

.about__photos {
    position: relative;
}

.about__photo_small {
    max-width: 260px;
    position: absolute;
    bottom: -1%;
    right: -20%;
    border: 10px solid var(--color_beige);
}

.about__photo_big {
    max-width: 450px;
    border: 1px solid var(--color_brown);
    padding: 20px;
}

/* СВЯЗАТЬСЯ */
.connection {
    max-width: 1200px;
    margin: 0 auto;
}

/* КАТАЛОГ */
#catalog {
    max-width: 1200px;
    display: block;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
}

.catalog__title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.catalog__photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.catalog__photo {
    max-width: 220px;
}

#advantages {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
}

.advantages__MAIN {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 25px;
}

.advantages__type {
    width: 200px;
}

.advantages__icon {
    display: flex;
    width: 70px;
    margin: 0 auto;
}

.advantages__text {
    margin-top: 20px;
    text-align: center;
    font-size: var(--font_size_2);
    font-weight: var(--font_medium);
    color: var(--color_brown);
}

#contacts {
    margin-top: 40px;
    margin-bottom: 80px;
}

.contacts__MAIN {
    display: flex;
    max-width: 1200px;
    justify-content: center;
    margin: 0 auto;
    gap: 50px;
}

.contacts__block_other_one {
    margin-top: -30px;
}

.contacts__block {
    display: flex;
    padding: 20px;
    font-size: var(--font_size_2);
    font-weight: var(--font_medium);
    line-height: 30px;
    color: var(--color_brown);
}

.contacts__title {
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: var(--font_size_3);
    font-weight: var(--font_medium);
    color: var(--color_brown);
    line-height: 50px;
}

.contacts__block_info {
    display: block;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    color: var(--color_brown);
    fill: var(--color_brown);
}

.contacts__icon {
    width: 25px;
    height: 25px;
    margin-right: 7px;
}

.contacts__a {
    color: var(--color_brown);
    font-size: var(--font_size_2);
    transition: color 0.2s ease;
}

.contacts__a:hover {
    color: var(--color_brown_hover);
}

footer {
    padding: 10px 0;
    border-top: 1px solid var(--color_brown);
    border-bottom: 1px solid var(--color_brown);
    margin-bottom: 20px;
}

.footer__MAIN {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.footer__text {
    font-size: var(--font_size_1);
    font-weight: var(--font_regular);
    color: var(--color_brown);
    line-height: 20px;
}

.footer__uu {
    font-size: var(--font_size_1);
    font-weight: var(--font_regular);
    color: var(--color_brown);
    line-height: 20px;
}

.footer__a {
    color: var(--color_brown);
    transition: color 0.2s ease;
}

.footer__a:hover {
    color: var(--color_brown_hover);
}
